{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'js/jquery.formset.js' %}"></script>
<form method="POST">
    {% csrf_token %}
    <div class="right"><button class="btn-small waves-effect waves-light offset-s4" style="background-color: #2C3531" type="submit">save
    </button></div>

    <div class="container center">

        <a href="/settings/clients" class="black-text waves-effect btn-flat">Clients</a>&emsp;
        <a class="black-text btn-flat disabled">Categories</a>
        <a href="/settings/devices" class="black-text waves-effect btn-flat">Devices</a>&emsp;
        <hr>
    </div>
    <br>

    {{ form.management_form }}
    <div class="container">
        {% for cat in form %}

        <div class="link-formset">
            <div class="row">

                <div class="input-field col s3 offset-s2">
                    {{ cat.name }}{{cat.name.label_tag}}

                    {% if cat.name.errors %}
                    {% for error in cat.name.errors %}
                    {{ error|escape }}
                    {% endfor %}
                    {% endif %}
                </div>



                <div class="row">
                    <div class="input-field col s4">
                        {{ cat.path }}{{cat.path.label_tag}}
                        {% if cat.path.errors %}
                        {% for error in cat.path.errors %}
                        {{ error|escape }}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col s1">
                        <br><br>
                        <div class="DelLink"></div>
                    </div>
                </div>

            </div>

        </div>

        {% endfor %}
        <div class="center AddLink"></div>
    </div>

</form>

<script>
    $('.link-formset').formset({
        addText: '( + )',
        deleteText: '( - )',
        deleteContainerClass: 'DelLink',
        addContainerClass: 'AddLink',
    });
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}