{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container center">

    <a href="/settings/clients" class="black-text waves-effect btn-flat">Clients</a>&emsp;
    <a href="/settings/categories" class="black-text waves-effect btn-flat">Categories</a>
    <a class="black-text btn-flat disabled">Devices</a>&emsp;

    <hr>
</div>
<br>

<div class="row">
        {% for device in device_list %}
    <div class="offset-s1 col s2 card-panel center z-depth-3" style="background-color: #dcdbe1">
        <br>
        <a href="devices/edit/{{device.id}}">{{device.name}}</a>
        <br><br>
    </div>
    {% endfor %}
    <div class="offset-s1 col s2 card-panel center z-depth-3" style="background-color: #dcdbe1">
        <a href="/settings/add_device"><i class="material-icons medium">add_box</i></a>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}