{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br>
    <div class="row">
        {% if torrents %}
        <table class="col s10 offset-s1 highlight">
            <thead>
            <tr>
                <th>Name</th>
                <th>Client</th>
                <th></th>
                <th>Status</th>
                <th>Ratio</th>
                <th>Size</th>
                <th class="center">Progress</th>
            </tr>
            </thead>

            <tbody>
            {% for t in torrents %}

            <tr>

                <td>{{t.name}}</td>
                <td>{{t.client}}</td>
                <td></td>
                <td>{{t.state}}</td>
                <td>{{t.ratio}}</td>
                <td>{{t.size}}</td>
                <td class="center">
                    <label>{{t.progress}}%</label>
                    <div class="progress">
                        <div class="determinate" style="width: {{t.progress}}%"></div>
                    </div>
                </td>

            </tr>

            {% endfor %}
            </tbody>

        </table>
        {% else %}
        <p class="center">Nothing here :(</p>
        <p class="center">Try <a href="/settings/clients">adding a client</a></p>
        {% endif %}
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}