{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% block content %}
<br><br>


<div class="row">

    {% if no_torrents == False %}
    <div class="col s10 offset-s1" style="height: 700px; overflow-y: scroll;">
        {% render_table table %}
    </div>

    {% else %}
    <p class="center">Nothing here :(</p>
    <p class="center">Try <a href="/settings/clients">adding a client</a></p>
    {% endif %}

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}