{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container center">

    <a href="/settings/clients" class="black-text waves-effect btn-flat">Clients</a>&emsp;
    <a href="/settings/categories" class="black-text waves-effect btn-flat">Categories</a>&emsp;
    <a href="/settings/devices" class="black-text waves-effect btn-flat">Devices</a>&emsp;
    <a class="black-text btn-flat disabled">Log</a>&emsp;

    <hr>
</div>
<br><br><br>


<div class="row">


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}